.result {
    width: 50vw;
    height: 50vh;
}

.btn {
    border: 1px solid black;
    border-radius: 3px 3px;
    color:rgb(152, 36, 36);font-size:21px;font-weight:bold;
}

* { 
    margin:  0; 
    padding: 0; 
} 

/* table */
td, th {
    border-width: 1px 1px 0px 0px ;
    border-style: solid;
    border-color: rgb(158, 188, 39);
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}
.title {
    color: #6c1313;font-size:37px;font-weight:bold;
}
.hfT {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.xgT {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.PiT {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.tjT {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.hxPT {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.DNN {color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.COURSES{color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}
.NNinHYDROLOGY{color: rgb(5, 6, 5);font-size:17px;font-weight:bold;}