{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<img  src="{% static 'Header_of_ATOP-CS-Pandas.png' %}">
<h3 class="title">Citizen Science (Гражданская Наука)</h3>

<ul>
    <button class=”btn pimary_inf_well-sump”>ИСХОДНАЯ ИНФОРМАЦИЯ ПО «РЕПЕРНОМУ КОЛОДЦУ»</button>
        <li><a href="/groundwater_levels"> <h4 class="hfT">* Уровень грунтовых вод (h=f(T))</h4></a></li>
        <li><a href="/precipitation"> <h5 class="xgT">* Осадки (x=g(T))</h5></a></li>
        <li><a href="/atmospheric_pressure"> <h6 class="PiT">* Давление (P=i(T))</h6></a></li>
        <li><a href="/air_temperature"> <h7 class="tjT">* Температура воздуха (t=j(T))</h7></a></li>
        <li><a href="/Combined_graph_of_h-x-P-t"> <h8 class="hxPt">* Совмещённый график изменения во времени h, x, P, t</h8></a></li>
    </li>
    <button class=”btn pimary_inf_Rosnedra”>ИСХОДНАЯ ИНФОРМАЦИЯ ПО СКВАЖИНАМ РОСНЕДРА»</button><br />
    <button class=”btn artificial_intelligence”>ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ</button>
        <li><a href="/deep_neural_network"> <h9 class="DNN">!-Глубокая нейронная сеть</h9></a>
        <ul><li>&nbsp;&nbsp;
        <a href="http://kpk-nnga.sinp.msu.ru/index.php?id=nnga/"><h10 class="COURSES">!!!-Курсы по основам нейронных сетей</h10></a></li>
        <li>&nbsp;&nbsp;
        <a href="/neural_networks_in_hydrological_forecasts"><h11 class="NNinHYDROLOGY">!!!-Нейронные сети в задачах гидрологических прогнозов</h11></a></li>
            </ul>
            </li>
</ul>
<p>
    
    
    
</p>
    